extends layout

block content
  h1 请完成表单
  
  #createTodo
    form(action='/todos' name="myform" method='POST' onSubmit="return check();")
      .form-group
        label 请填写单位或科室名称
        select.form-control(name='name')
          option 雾渡河监管所
          option 樟村坪监管所
          option 下堡坪监管所
          option 分乡监管所
          option 黄花监管所
          option 邓村监管所
          option 太平溪监管所
          option 三斗坪监管所
          option 乐天溪监管所
          option 鸦鹊岭监管所
          option 龙泉监管所
          option 小溪塔监管所
          option 稽查分局
          option 办公室
          option 政工科
          option 消费监管科
          option 生产监管科
          option 流通监管科
          option 药械化监管科
          option 行政审批科
          option 政策法规科          
      .form-group
        label 是单位小事还是个人小事
        .radio
          label
            input#optionsRadios1(type="radio", name="optionsRadios", value="option1")
            |     单位
        .radio
          label
            input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
            |     个人
        
      .form-group
        label(for='person') 如果为个人小事请填写姓名，单位小事不用填
        input#person.form-control(name='person' type='text', placeholder='请填写姓名' disabled)
      .form-group
        label(for='donetime') 办理时间
        input#donetime.form-control(name='donetime' type='text', placeholder='请填写办理日期，格式为：4-14')
      .form-group
        label(for='forWho') 办事对象
        input#forWho.form-control(name='forWho' type='text', placeholder='请填写办事对象名称，如：张三（可以填单位名称）')
      .form-group
        label 事情类别
        select.form-control(name='type')
          option(value='1') 服务
          option(value='2') 民生
          option(value='3') 发展
          option(value='4') 环境
          option(value='5') 管理
      .form-group
        label 主要内容（事情的简单介绍300字以内即可）
        textarea.form-control(name='content' rows='5')
      input.btn.btn-success(type='submit',value='提交并下载word版') 
  
  //- h2 TODO 列表
  //- div
  //-   a.btn.btn-default(href='/todos', role='button') 未完成
  //-   a.btn.btn-default(href='/todos?status=1', role='button') 已完成

  //- #errMsg
  //-   if errMsg
  //-     pre= errMsg

  //- div
  //-   table.table
  //-     thead
  //-       colgroup
  //-         col.col-xs-10
  //-         col.col-xs-1
  //-         col.col-xs-1
  //-       tr
  //-         th 描述
  //-         th 标签
  //-         th 所有者
  //-         th 操作
  //-     each todo in todos
  //-       tr
  //-         td
  //-           form(action='/todos/#{todo.id}/#{status == 0 ? "done" : "undone" }', method='POST')
  //-             .checkbox
  //-               label
  //-                 input(type='checkbox', checked=(todo.get('status') == 1), onClick='submit()')
  //-                 | #{todo.get('content')}
  //-         td= todo.get('tags') == null ? '' : todo.get('tags').join(',')
  //-         td= todo.get('author') == null ? '' : todo.get('author').get('username')
  //-         td
  //-           form(action='/todos/#{todo.id}?_method=DELETE&status=#{status}', method='POST')
  //-             input.btn.btn-default(type='submit', value='删除')
